@if (_isSearching)
{
    <div class="d-flex justify-center pt-4">
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
    </div>
}

@if (!String.IsNullOrEmpty(Vehicle!.RegistrationNumber) && !_isSearching)
{
    <MudCarousel Style="height:300px; " ShowArrows="false" ShowBullets="true" AutoCycle="false" TData="object">

        <BulletTemplate Context="selected">
            <div Class="mud-button-root mud-icon-button mud-icon-button-color-primary mud-ripple mud-ripple-icon">
                <span class="mud-icon-button-label">
                    <MudIcon Icon="@(selected? Icons.Material.Outlined.Adjust : Icons.Material.Outlined.Circle)" Color="@Color.Primary" />
                </span>
            </div>
        </BulletTemplate>

        <ChildContent>
            @if (Vehicle.Images.Any())
            {
                @foreach (var image in Vehicle.Images)
                {
                    <!-- Preload images -->
                    <link rel="preload" href="@image.Link" as="image" />

                    <MudCarouselItem Transition="Transition.Fade" Color="@Color.Transparent">
                        <div class="d-flex justify-center">
                            <MudImage Height="300" Style="max-width:100%" Src="@image.Link" FallbackSrc="@_carPlaceholder" Alt="@image.Title" Class="rounded-lg" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" />
                        </div>
                    </MudCarouselItem>
                }
            }
            else
            {
                <MudCarouselItem Transition="Transition.Fade" Color="@Color.Transparent">
                    <div class="d-flex justify-center">
                        <MudImage Height="300" Src="@_carPlaceholder" FallbackSrc="@_carPlaceholder" Alt="Placeholder car" Class="rounded-lg" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" />
                    </div>
                </MudCarouselItem>
            }
        </ChildContent>
    </MudCarousel>

    <MudGrid Class="mt-4" AlignItems="Stretch">
        <MudItem xs="12" md="8">
            <MudPaper Class="pa-4" Elevation="1">
                <MudText Typo="Typo.h2" Align="Align.Center">@Vehicle.YearOfManufacture @Vehicle.Make @Vehicle.Model</MudText>
                <MudText Typo="Typo.body2">
                    Year  :  @Vehicle.YearOfManufacture <br />
                    Make  :  @Vehicle.Make <br />
                    Model  :  @Vehicle.Model <br />
                    Colour  :  @Vehicle.Colour <br />
                    Engine capacity  :  @Vehicle.EngineCapacity <br />
                    Fuel  :  @Vehicle.FuelType <br />
                    <br />
                    Tax status  :  @Vehicle.TaxStatus <br />
                    Tax due date  :  @Vehicle.TaxDueDate <br />
                    MOT status  :  @Vehicle.MotStatus <br />
                    MOT expiry date  :  @Vehicle.MotExpiryDate <br />
                    <br />
                    Last V5C issued  :  @Vehicle.DateOfLastV5CIssued <br />
                    First registered  :  @Vehicle.MonthOfFirstRegistration.ToString("MMMM yyyy") <br />
                </MudText>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" md="4">
            <MudStack Style="height:100%;">
                <MudPaper Class="pa-4 mud-success d-flex flex-column align-center justify-center" Elevation="1" Height="50%">
                    <MudText Align="Align.Center" Typo="Typo.h4"><b>MOT Status</b></MudText>
                    <br />
                    <MudText Align="Align.Center" Typo="Typo.h6">@Vehicle.MotStatus</MudText>
                    <MudText Align="Align.Center" Typo="Typo.body1">Expires: @Vehicle.MotExpiryDate</MudText>
                </MudPaper>
                <MudPaper Class="pa-4 mud-info d-flex flex-column align-center justify-center" Elevation="1" Height="50%">
                    <MudText Align="Align.Center" Typo="Typo.h4"><b>Tax Status</b></MudText>
                    <br />
                    <MudText Align="Align.Center" Typo="Typo.h6">@Vehicle.TaxStatus</MudText>
                    <MudText Align="Align.Center" Typo="Typo.body1">Expires: @Vehicle.TaxDueDate</MudText>
                </MudPaper>
            </MudStack>
        </MudItem>

    </MudGrid>

    <MudStack Row="true" StretchItems="StretchItems.End">
        
        
    </MudStack>
}